@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply transition ease-in-out duration-300 bg-blue-500 text-white py-2 px-4 rounded cursor-pointer;
}

.btn:hover {
    @apply bg-blue-700;
}

.btn--secondary {
    @apply bg-transparent border border-blue-500 text-blue-500 text-sm py-1 px-2;
}

.btn--secondary:hover {
    @apply bg-blue-500 text-white;
}

.progress-line, .progress-line:before {
    @apply h-1 w-full m-0;
}

.progress-line {
    @apply flex bg-blue-200 border-blue-500 rounded overflow-hidden;
}

.progress-line:before {
    content: '';
    @apply bg-blue-600;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes running-progress {
    0% { 
        @apply ml-0;
        margin-right: 100%;
    }
    50% { 
        @apply mr-0;
        margin-left: 25%;
    }
    100% { 
        @apply mr-0;
        margin-left: 100%;
    }
}